blinker==1.4
docutils==0.14
feedgenerator==1.9
html5lib==0.999999999
isodate==0.6.0
Jinja2==2.9.6
laconia==0.3.0
Markdown==2.6.9
MarkupSafe==1.0
microdata==0.6.1
pelican==3.7.1
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
rdflib==4.2.2
six==1.11.0
Unidecode==0.04.21
