blinker==1.4
docutils==0.14
feedgenerator==1.9
html5lib==1.0.1
isodate==0.6.0
Jinja2==2.10
laconia==0.3.0
Markdown==3.0.1
MarkupSafe==1.1.0
microdata==0.6.1
pelican==4.0.1
Pygments==2.3.1
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
rdflib==4.2.2
six==1.12.0
Unidecode==1.0.23
