\documentclass[10pt]{article}

\usepackage{fullpage}
\usepackage{svn}

%\addtolength{}{}

\begin{document}

\title{\bf{<=cv.cv_cvTitle.any()=>}}
\author{
  Ross Fenning\\
  1101 The Heart\\
  Blue\\
  Media City UK\\
  Salford\\
  M50 2TJ\\
  Mobile: 07763 616456\\
  e-mail: cv@rossfenning.co.uk
}

\SVNdate $Date$
\maketitle

\hrulefill

\section*{Personal Profile}

I am primarily a software engineer and web developer (Python, Java, PHP) with
6 years experience in the industry backed by a degree in Computer Science.
This gives me an methodical, yet adaptable, creative and innovative approach
to problem solving. I also have experience in maintaining GNU/Linux and Unix
systems (Apache, MySQL, Postfix, LDAP).

I have a passion for seeking new challenges with new projects -- I enjoy
keeping  up to date with emerging technologies and techniques so as to be able
to find and apply the best solution to any given problem.

My team personality is a balance between a methodical and logical problem
solving approach and initiating new ideas. I like to think anything can be
achieved with the proper planning and creative thinking. I thrive where new
ideas and communication are encouraged.

I am currently working as a Software Engineer at the BBC on the Homepage and
Location Services search products and am looking for any further contract
or freelance opportunities as of the beginning of February 2012.

\section*{Skillset Summary}
\subsection*{Programming/Markup languages/Technologies}
Java, Python, PHP, Prolog, HTML, XML, SQL, LaTeX, RDF, SPARQL
\subsection*{Tools and Methodologies}
Unit Testing, JUnit, PHPUnit, PyUnit, Hibernate, JAX-RS, Spring, Cucumber,
Agile, TDD, BDD, MVC, Maven, Cobertura, Checkstyle, REST
\subsection*{Operating Systems}
GNU/Linux (Debian, Ubuntu, Fedora Core, Red Hat), Windows XP,
Windows 2003/2008 Server
\subsection*{Server Software}
MySQL, Oracle, Apache, DNS (Bind), Apache Struts, Tomcat, Django, Postfix,
Dovecot, Subversion, Trac, Wordpress, LDAP, Active Directory, Kerberos,
Apache Solr/Lucene, Jenkins/Hudson

\section*{Experience Summary}

\begin{itemize}
\item
Website development in Java, PHP and Python on Linux/Unix platforms with
Apache, MySQL, Postgresql, Oracle, Tomcat, Django and Zend.
\item
Maintaining existing websites on Linux/Unix servers.
\item
Developing secure applications such as authentication or e-commerce as well
integration with payment providers such as Worldpay and Paypal.
\item
Designing, developing and working with multilingual applications.
\end{itemize}

\section*{Work Experience}

\subsection*{Software Engineer at BBC Wales: December 2010 - January 2012}
I have been working in the Future Media team at BBC Wales/Cymru as
a software engineer on the new BBC Home Page. Primarily, I am offering
skills as a Java backend service developer to create data feeds for part
of the new home page, but also contribute on PHP, Javascript, HTML development
and any other tasks as needed.

As the Home Page project has been winding down, I have also been doing backend
REST API and Apache Solr work to provide smart searching of geographical
locations for both the new BBC Homepage and the new BBC Weather website.

\subsection*{Director of Functional Programming Ltd.: December 2010 - Present}
I founded my own company to take on more serious contract work as well as to
provide a financial basis for some of my own projects. The business is not
actively marketed as I still seek contract/freelance work under my own
name, but there are plans for it to grow into something more active.

\subsection*{Freelance Web Development: August 2010 - November 2010}
Before setting up officially as a contractor, I did a few small projects as a
freelancer. The first was to develop a backend RESTful web service in PHP for
saving data from Flash applications. The work was done for Pancentric Digital
as part of a larger project for Disney in the regions of Europe, Middle East
and Africa. The whole service was developed in two days with a further three
days kept for testing and tweaking the implementation where necessary.

\subsection*{Cranfield University: April 2007 - June 2010}
This role was as a Systems Developer in the IT department of
Cranfield University. The department is a support department for almost all IT
facilities across the university. The systems development team
sat within the infrastructure team to develop solutions to needs
within and outwith the department and support said in-house projects. Most
projects were Java-based web applications.

Skills and techniques I developed in the role include
setting up production Apache Tomcat servers, installing and basic
amounts of work with Oracle, interacting programmatically with
MS Active Directory over LDAP and developing web applications with
the Apache Struts framework.

\subsection*{Tim Lilley Fundraising: October 2005 - December 2006}
I worked as a house to house fundraiser for Tim Lilley Fundraising. This was a
fundraising agency that employed fundraisers for a number of charities to
directly approach people and ask if they would like to support. The work
required the confidence to be able to ask people such questions outright and
to be able to move on with the job regardless of negative reactions from a
minority of people.

During my year in this role, I felt I developed within myself more confidence,
patience, motivation and communication abilities.

\subsection*{Transversal Corporation: July 2005 - February 2006}
I was employed as a Tester at Transversal Corporation. They produced a
web-based software product and I was given the task of running and maintaining
an automated test application implemented in Python that would test the speed
and responsiveness of the application as well as find broken functionality.

\subsection*{Level 5 Networks: Summer 2004}
I worked for one Summer as a tester of a new Ethernet interface card. I had to
test speed and statistics for the network interfaces and the drivers on both
Linux and Windows servers.

\section*{Qualifications}

\subsection*{Higher Education (2005)}
MA (Hons) (Cantab) in Computer Science from the University of Cambridge.
Also gained a pass in the Intermediate III level of German with the
Cambridge University Language Programme.

\subsection*{Further Education (2002)}
Gained an A grade in each of A-Level Mathematics, Further Mathematics,
German and Physics. Additionally achieved a B grade in AS-Level French. Also
completed STEP I Mathematics with grade 1 and STEP Physics with grade 3.

\subsection*{GCSEs (2000)}
10 GCSEs including A* in Mathematics, Sciences, German and French. Attained A
in English Language. Also obtained an A grade in an Additional Mathematics
qualification having completed the GCSE the previous year (1999).

\section*{Interests}
\begin{itemize}

\item
Natural language processing, artificial intelligence, linguistics and logic
\item
Folk and traditional music including playing bodhr\'{a}n
\item
Exploring new music as well as writing/composition
\item
Modern foreign languages
\item
Supporting human rights and environmental work


\end{itemize}


\end{document}
